body {
    text-align: center;
}

#apps {
    height: 800px;
    width: 100%;
    background-color: darkorchid;
}

#games {
    height: 800px;
    width: 100%;
    background-color: dodgerblue;
}



#chatbot {
    height: 800px;
    width: 100%;
    background-color: cornflowerblue;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: #000;
    width: 100px;
    margin: 8px auto;
}
